
@keyframes buttonfade {
  from {background-color: brown;
        color: white;}
  to {background-color: white;
        color: brown;}
}

@font-face {
font-family: 'Avenir';
src: url('/Assets/Avenir.ttc'), format('truetype');
font-weight: normal;
font-style: normal;
}

body {
    margin: 0px 0px;
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;  
    height: 100%;
    background: brown;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 46px;  
  }

.main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 0px 0px 0px 0px;
    background: white;
}

.header {
    text-align: center;
    margin: 0px 0px 10px 0px;
    padding-top: 2px;
    font-size: 3vw;
    z-index: 99;
}

.footer {
    width: 100%;
    
    padding:15px;
    margin: 0px 0px 0px -25px;
    background: brown;
    font-weight: 600;
    color: white;
    z-index: 1;
}



a:hover {
    color: brown;
}
a {
    text-decoration: none;
    color: inherit;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.lightbox {
    width:100%;
    min-height: 600px;
    overflow:hidden;
    padding: 0px;
    background-image: url("assets/photos/Avenir.jpg");
    background-size: cover;

}

.lightbox-h {
    width:100%;
    min-height: 600px;
    overflow:hidden;
    padding: 0px;
    background-image: url("assets/photos/hotelext.png");
    background-size: cover;
    align-content:center;
    justify-content: center;
    display:flex;
}

.lightbox-r {
    width:100%;
    min-height: 600px;
    overflow:hidden;
    padding: 0px;
    background-color: brown;
    align-content:center;
    justify-content: center;
    display:flex;
    
}

.historybox {
    background: rgba(15, 15, 15, 0.5); 
    color: white;
    border-radius: 25px;
    padding: 20px;
    width: 90%;
    max-width:900px;
    margin: 20px;
}

input[type=date] {
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    width: 130px;
}


.menu{
    width:80%; 
    margin-left:auto; 
    margin-right:auto;
    margin-top: 15px;
    background:white;
    padding: 2px 15px 5px 15px;
}

.menu h1 {
    margin-top:8px;
}



.bookbox {
    display:flex;
    flex-flow: row nowrap;
    width: 610px;
    font-size: 18pt;
    background-color: white;
    justify-content: space-between;
    padding: 3px;
    margin: 280px auto 20px auto;
    box-shadow: 5px 10px 18px #888888;
    vertical-align: middle;
    overflow:hidden;
}

.bookbox div {
    margin: 0 0 0 0;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: solid 2px #ccc;
}

.error {
    width: 100%;
    color: red;
    justify-content: space-around;
    font-size: 10pt;
    text-align: center;
}

button.check {
    width:130px; 
    margin-top: 5px;
    height: 35px;
    border: solid black 1px; 
    background-color:brown;
    color: white;
}

button.check:hover{
    animation-name: buttonfade;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.mybutton {
    width:130px; 
    margin-top: 5px;
    height: 35px;
    border: solid black 1px; 
    background-color:brown;
    color: white;
}

.mybutton:hover{
    animation-name: buttonfade;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}


nav ul {
  list-style-type: none;
  font-weight: 600;
  margin: 0;
  padding: 5px;
}

li{
    display: inline;
    padding-left: 20px;
    padding-right:20px;
}

.queryresult {
    padding:15px;
    width:900px;
    text-align:center;
    margin-bottom: 15px;
}

.price {
    position: absolute; 
    top: 10px; 
    right: 15px; 
    margin:0px
}

img {
    object-fit: cover;
}
.roombox {
    width:450px; 
    overflow: hidden; 
    display:block;
    flex-direction: column; 
    background-color: black;
    height: 250px;
    margin: 15px;
    box-shadow: 3px 3px 8px 0px #888888;
}

.overlayText {
    position: absolute;
    background: rgba(15, 15, 15, 0.5); 
    text-align:left; 
    width:inherit; 
    max-width:inherit; 
    color:white;
    
}

.roomdir .roombox{
    float:left; 
    margin-right: 20px; width:300px; height:auto;
    
}

.roomdir .roombox:hover{
    width:700px; height:auto;
    
}

.roomdir figcaption {
    font-weight:600;
    color:white;
    margin-top:-40px;
    margin-left: 10px;
    text-shadow: 2px 2px #000000;
}

.roombg {
   
    position: relative;
    color: white;
    padding-left: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #222222;
    width:100%; 
    height:600px;
}

.charges {
    position: absolute;
    right: 15px;
    top:85px;
}

.finalinvoice {
    text-align:left;
}

.finalpriceinv {
    margin:0px;
    font-size:20pt;
}

.finalprice {
    margin:0px;
    text-align: right;
    font-size:20pt;
}

#customerform {
    
    font-size:12pt; 
}

#customerform input {
    font-size: 12pt;
    height:30px;
    margin-bottom: 20px;
    
    
}